@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */


$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;

}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

h2,
h3 {
  color: $color-light;
  border: none;
  box-shadow: 0 0 6px black;
  background-color: dimgray;
  padding: 3px 0 3px 21px ;

}

p{
  margin: 21px 11px;
  text-align: justify;
  
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $color-dark;
    ;
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
  
}

.sidebar {
  flex: 1 0 0;
  
}


.posts {
  flex: 2 0 0;
  
}


.sidebar, .posts {
  background-color:darkgray;
  margin-right: 10px;
  padding: 40px;
  border: 5px solid $color-dark;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
    
  }
}

li a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  
}

.list-horizontal {
  li {
    display: inline-block;
    margin: 0 15px;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    display: block;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
    
  } 
}

.post-author {
  font-style: italic;
  text-decoration: none;
  
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
.post-author a {
  text-decoration: none;
  font-weight: 900;
}


/*TAGS*/
.tags li {
  display: inline-block;
}


.tag-size-1 {
  font-size: 20px;
  font-style: italic;
  color:black;
  font-weight: 900;
  text-shadow: 1px 1px 3px black; 
  
}

.tag-size-3 {
  font-size: 30px;
  font-style: italic;
  color:darkorchid;
  font-weight: bold;
  padding-left: 40px;
  text-shadow: 1px 1px 2px darkmagenta;
}

.tag-size-4 {
  font-size: 60px;
  font-style: italic;
  color:blue;
  opacity: 0,4;
  text-shadow: 1px 1px 5px darkblue;
  
}
